<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Homepage</title>
  </head>
  <body>
    <div class="main">
      <% if (user) {%>
      <h1>Welcome back <%= user.email%></h1>
      <div class="links-container">
        <a href="/messages/add"> Add a new file </a>
        <a href="/logout">Log out</a>
      </div>
      <% } else { %>
      <h1>Googol Walk!</h1>
      <div class="links-container">
        <p><a href="/sign-up"> Sign up </a> right now!</p>
        <p>Already registred? <a href="/login"> Login </a></p>
      </div>
      <% } %>
    </div>
  </body>
</html>
