<html>
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1> Login </h1>
    <%- include("partials/flash_errors.ejs") %>
   <form action="/login" method="POST" class="register-form">
    
<div class="input-form"> 
  <label for="uemail">Email: </label>
  <input
    type="email"
    name="email"
    id="email"
    required
  >
</div>

<div class="input-form"> 
  <label for="password">Password: </label>
  <div class="input-icon-container">
  <input
    type="password"
    name="password"
    id="password"
    required
    minlength="3"
  >
  <span class="toggle-password" onclick="togglePassword('password', this)">🙉</span>
  </div>
  </div>
    
    <button type="submit">Login</button>
  </form>
  <div class="links-container"> 
  <a href="/">Homepage</a>
  </div>
</html>

<script>
  function togglePassword(fieldId, icon) {
    const input = document.getElementById(fieldId);
    if (input.type === "password") {
      input.type = "text";
      icon.textContent = "🙈"; 
    } else {
      input.type = "password";
      icon.textContent = "🙉"; 
    }
  }
</script>